{%extends 'base.html'%}

{%block main%}

<h2>What's this?</h2>
<p>
This integration is run by <a href="https://tzovar.as">Bastian Greshake Tzovaras</a>. Once
set-up, this app will automatically keep an up-to-date copy of your <i>Last.fm</i> scrobbles in your <i>Open Humans</i> account.
</p>

<h2>How will you use my data?</h2>
<p>
When you log in, this app will only store your access tokens from <i>Open Humans</i> and the <i>Last.fm</i> username you enter.
</p>
<p>
It will process your <i>Last.fm</i> data but not store any of this raw data in this application. Instead, the data is only sent to Open Humans where it will stored long-term and where you can delete the data at any time.
</p>

{%endblock main%}
